{% extends "blog/baseSearch.html" %}
{% load static %}
{% block content %}
    <center><h1>ผลลัพธ์ของการค้นหา</h1></center>
    <br>
    <ul>
        {% for post in queryset %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    {% if post.image %}
                      <img src="{{ post.image.url }}" alt="{{ post.image }}" class="img-thumbnail">
                    {% else %}
                      <img src="{% static 'blog/lost1.png' %}" class="img-thumbnail">
                    {% endif %}
                    <h2><a class="article-title" href="{% url 'postfree-detail' post.id %}">{{ post.title }}</a></h2>
                    {% if post.identities %}
                      <p class="article-content">{{ post.identities|slice:":150" }}</p>
                      <p class="article-content">{{ post.content|slice:":150" }}</p>
                    {% elif post.content %}
                      <p class="article-content">{{ post.content|slice:":150" }}</p>
                    {% else %}
                      <p>ผู้โพสข้อมูลไม่มีการใส่ข้อมูลเพิ่มเติมลงไป</p>
                    {% endif %}
                    <a href="{% url 'postfree-detail' post.id  %}" class="btn btn-info">อ่านเพิ่มเติม &rarr;</a>
                </div>
            </article>
        {% endfor %}
        </ul>
    <center><a href="{% url 'search-page' %}" class="btn btn-primary">กลับหน้าค้นหา</a></center>
    <br>
{% endblock content %}
