{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ขอบคุณ</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <br><br>
    <center class="p">ตอนนี้ข้อมูลได้ถูกบันทึกลงในส่วนของผู้สูญหายเรียบร้อย</center>
    <br>
    <center><a href="{% url 'blog-home' %}" class="btn btn-success">กลับหน้าแสดงคนหาย &rarr;</a></center>
    <br>
    <center><a href="{% url 'index' %}" class="btn btn-primary">กลับหน้าแรก &rarr;</a></center>
    
</body>
</html>